.employer-container {
    color: rgb(12, 10, 10);
    height: 100vh;
    width: 50vw;

    .sign-in-employer {
        position: relative;
        left: 43%;
        top: 20px;
        text-decoration: none;

        .sign-in-link {
            position: relative;
            left: 35px;
            margin-top: 10px;
            border: 1px solid black;
            width: 70px;
            border-radius: 25px;
            padding: 5px;
            text-align: center;
            background-color: #204674;
            text-decoration: none;
        }
    }

    h3 {
        position: relative;
        left: 33%;
        top: 10px;
    }

    .form-control {
        width: 80%;
        margin: 20px;
        position: relative;
        left: 6%;
        top: 10px;
    }

    .form-group {
        margin-top: 25px;
        margin-left: 20%;

        .sub-text {
            position: relative;
            left: 9%;
        }

    }

    .register-button {
        position: relative;
        left: 45%;
        width: 100px;
        border-radius: 25px;
        padding: 10px;
        margin-top: 20px;
        background-color: #204674;
        color: #F2BD4D;
        border: 1px solid #F2BD4D;
    }

    .form-label {
        position: relative;
        left: 9%;
        top: 25px;
    }
}