.sign-in-container {
    width: 50%;
    height: 100vh;
    padding: 50px;
  
    .auth__submit {
        border: 1px solid black;
        margin-top: 20px;
        color: #F2BD4D;
        font-weight: bold;
    }
}