.developer__section {
    background-color: #22254b !important;
        height: 100vh;

        .developer__section-title {
            position: relative;
            top: 100px;
        }

        .search__container {
            position: relative;
            top: 150px;
            left: 15%;
        }
}