.MuiTouchRipple-root {
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: visible;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.makeStyles-navbar-1 {
    border-bottom: 0px !important;
}


