main {
  background-color: #22254b;
  height: 100vh;
}
.abstract {
  position: relative;
  height: 50vw;
  top: -100px;
  z-index: 4;
  transform: rotate(-360deg);
}

.home__banner {
  position: relative;
  top: 5%;
  height: 40%;
  z-index: 1;

  .home__banner-text {
    position: absolute;
    top: 20%;
    font-size: 5vw;
    display: flex;
    justify-content: center;
  }

  .home__banner-subtitle {
    position: absolute;
    top: 40%;
    font-size: 5vw;
    display: flex;
    justify-content: center;
  }
}

.mission__statement-grid {
  
  width: 500px;
}
.mission__statement {
  position: relative;
  background-color: rgba(198, 24, 24, 0.182);
  z-index: 15;
  width: 100%;
  height: 100%;

  .mission__statement-statement {
    text-align: center;
    padding: 60px;
    text-transform: uppercase;
  }

  .mission__statement-cards {
    margin: 100px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.203);

    p {
color: black;
    }
    
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c7c54e 0%,
    #311986 29%,
    #1337ff 67%,
    #96910e 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 12s linear infinite;
  display: inline-block;
  font-size: 60px;
  position: relative;
  top: 450px;
  left: 20%;
}

.animate-charcter2 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c7c54e 0%,
    #311986 29%,
    #1337ff 67%,
    #96910e 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 12s linear infinite;
  display: inline-block;
  font-size: 60px;
  position: relative;
  top: 450px;
  left: 20%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
