.nav-section {
    z-index: 2 !important;
    background-color: #22254B;
    position: fixed;
    width: 100vw;
}

.navbar {
    color: white;

    h5 {
        position: relative;
        left: 3%;
        top: 1px;
    }

    .links {
        display: flex;
        position: relative;
        left: 10%;
        top: 0px;

        .link {
            margin: 10px;
            text-decoration: none;
            color: white;
        }
    }

    .auth {
        display: flex;

        .auth-link {
            position: relative;
            right: 20px;
            top: 3px;
            margin-right: 10px;
            text-decoration: none;
            color: white;
        }
    }
}